.byebug_history
.env*
.git
.gitignore
.dockerignore
.gitlab-ci.yml
.travis.yml
Brewfile
Procfile*
Capfile
docker-compose.*
Dockerfile
coverage/*
log/*
node_modules/*
public/assets/*
public/packs/*
public/packs-test/*
storage/*
tmp/*
