.sidebar {
  width: 220px;
  height: 100%;
  //flex: 1;
  background-color: #4d394b;

  color: rgb(184,176,183);

  h2 {
    font-size: 15px;
    padding-top: 20px;
    padding-left: 15px;
  }

  .channel {
    color: rgb(184,176,183);
    display: block;
    font-size: 15px;
    //padding-top: 20px;
    padding: 3px 12px 3px 15px;

    &:hover {
      text-decoration: none;
    }

    &.selected {
      background-color: #4C9689;
      color: #FFFFFF;
    }
  }

  .user {
    display: flex;
    padding: 3px 12px 3px 15px;
  }
}